html, body {
  font-family: 'Garamond', 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-attachment: fixed;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 155, 155, 155;
  --background-end-rgb: 220, 220, 220;
}

@font-face {
  font-family: "Artisan12";
  src: local("Artisan12"),
   url("./fonts/artisan12.ttf") format("truetype");
 }

 .font-artisan {
  font-family: "Artisan12";
 }

@font-face {
  font-family: "EnglishTowne";
  src: local("EnglishTowne"),
   url("./fonts/EnglishTowne.ttf") format("truetype");
 }

 .font-english-towne {
  font-family: "EnglishTowne";
 }

@media (prefers-color-scheme: dark) {
  :root {
    --bs-nav-link-color: 220, 220, 220;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 25, 25, 25;
    --background-end-rgb: 100, 100, 100;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
