html, body {
  font-family: 'Garamond', 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: rgb(var(--foreground-rgb));
  background: repeating-radial-gradient(farthest-corner at 5% 10%,
    rgb(var(--background-start-rgb)) 0, 
    rgb(var(--background-end-rgb)), 
    rgb(var(--background-start-rgb)) 20%
  );
  background-attachment: fixed;
  height: 100%;
}

:root {
  --bs-nav-link-color: 220, 220, 220;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 31, 32, 32;
  --background-end-rgb:   33, 35, 35;
}

@font-face {
  font-family: "Artisan12";
  src: local("Artisan12"),
   url("./fonts/artisan12.ttf") format("truetype");
 }

 .font-artisan {
  font-family: "Artisan12";
 }

@font-face {
  font-family: "EnglishTowne";
  src: local("EnglishTowne"),
   url("./fonts/EnglishTowne.ttf") format("truetype");
 }

 .font-english-towne {
  font-family: "EnglishTowne";
 }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
